* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body {
    background: url('./photo/background.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 56px; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 60vh;
}

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
}

.container {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: black;
    margin-top: 20px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}